
/* Structure général */

* {
  box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
}

  /* header */
header {
  background: #6c9cda;
  display: flex;
  align-items: center;      
  justify-content: space-between;
  
}

 /* Logo */
.logo {
    background: white;
    width: 25%;
    margin-top: 50px;
    text-align: center;
    padding-top: 20px;
   
}

.icon {
    position: relative;
    width: 120px;
    height: 120px;
    margin: auto;
}

/* Losange vert */
.diamond {
    width: 100px;
    height: 100px;
    background-color: #a6d600;
    position: absolute;
    top: 10px;
    left: 10px;
    transform: rotate(45deg);
}

/* Avion */
.plane {
    position: absolute;
    font-size: 50px;
    color: #2f6df6;
    top: 30px;
    left: 35px;
    transform: rotate(-20deg);
}

/* Texte principal */
h1 {
    color: #2f6df6;
    font-size: 28px;
    margin-top: 20px;
}

/* Sous-titre */
p {
    color: #a6d600;
    font-size: 12px;
    letter-spacing: 2px;
}

/* Navigation principale */
.principale ul{
    display: flex;
}
.principale li{
    display: inline-block;
    margin-right: 20px
}
.principale a{
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 10px;
}
.cacher{
    color: white;
}


/* Mise en page accueil */

.acceuil{
    height: 800px;
  background-image: url(../images/img-6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /*--SourceImage: https://fr.freepik.com/photos-vecteurs-libre/voyage-canada/4#uuid=d39b88e0-e1c1-4a85-9ed6-573fbb032d2b--*/
  /* background-attachment: fixed;  */
}
  