
/* Structure général */

* {
  box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    
    
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
}

  /* header */
header {
  background: #2B3346;
  
}

 /* Logo */

 .conteneur-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.logo {
    text-align: center;   
}

/* Texte principal */
h1 {
    color: #E0A654;
    font-size: 1.5rem;
    margin-top: 20px;
}
.part1{
    color: #F9F2F3;
}

/* Sous-titre */
p {
    color: #B1ADC6;
    font-size: 1rem;
    padding-top: 0;
}

/* Navigation principale */
.principale ul{
    display: flex;
}
.principale li{
    display: inline-block;
    padding: 20px;

}
.principale a{
  display: inline-block;
  color: white;
  text-decoration: none;
}
.cacher{
    color: white;
}


/* Mise en page accueil */

.acceuil{
    height: 400px;
  background-image: url(../images/img-acceuil-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /*--SourceImage: https://fr.freepik.com/photos-vecteurs-libre/voyage-canada/4#uuid=d39b88e0-e1c1-4a85-9ed6-573fbb032d2b--*/
  background-attachment: fixed; 
}
.aspect{
  margin-top: 0;
  background: rgba(0, 0, 0, 0.122);
  background-position: center;
  height: 400px;
  
}
.texteCouleur{
  color: #F9F2F3;
  font-size: 3rem;
  text-align: center;
  align-items: center;
  font-weight: bold;
  font-family: arial;
  margin: 10px;
  padding-top: 100px;
  
}
.textAcceuil {
  font-family: Arial;
  text-align: center;
  align-items: center;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 20px;
  
  
  
}
.textAcceuil a{
  text-decoration: none;
  border: 2px solid;
  background-color: #2B3346;
  border-radius: 30px;
  padding: 10px 20px 20px 10px;
  color: white;
 
}
.description{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  align-items: center;
}

.bout_acceil{
  font-family: Arial;
  text-align: center;
  align-items: center;
  font-weight: bold;
  font-size: 1rem;
}

.bout_acceil a{
  text-decoration: none;
  border: 2px solid;
  background-color: #E0A654;
  border-radius: 30px;
  padding: 10px 20px 20px 10px;
  color: white;
  
}
.description p{
  color: black;
  text-align: center;
  margin-top: 40px;
  line-height: 1.4rem;
  margin-bottom: 40px;

}
.rid-container{
  display: grid;
  grid-template-columns: repeat(5fr);
  grid-template-rows: repeat(3fr);
}